body {
    margin: 0px;
    padding: 0px;
    background-color: #FAF1DE;
}

h1 {
    color: #FAF1DE;
    font-family: 'Bowlby One SC', cursive;
    font-weight: 100;
    font-size: 100px;
    line-height: 40px;
    margin-top: 65px;
}

h2 {
    color: #FAF1DE;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
}

h3 {
    color: #FAF1DE;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
}

h4 {
    font-family: 'Hind Siliguri', sans-serif;
    color: #E95E5E;
}

h5 {
    font-family: 'Hind Siliguri', sans-serif;
    color: #E95E5E;
}


p {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 23px;
    color: #5C4A51;
}

li {
    list-style-type: none;
}

/*///////////////////////////
/////////////////////////////
/////////////////////////////          MENU 
/////////////////////////////
///////////////////////////*/

#menu {
    width: 61px;
    height: 405px;
    background-color: #43363A;
    opacity: 0.75;
    position: fixed;
    padding-top: 20px;
    top: 20%;
    left: 15px;
    border-radius: 20px;
    transition: all 0.25s;
}

#menu:hover{
    width: 100px;
    height: 535px;
    padding-top: 20px;
    top: 20%;
    left: 15px;
    border-radius: 20px;
    transition: all 0.25s;
}

#menu:hover img{
    left : 15px;
    width: 70px;
    transition: all 0.25s ease;
}

.picto img {
    width: 45px;
    position: relative;
    left: 8px;
    top: 33px;
    padding-bottom: 25px;
    transition: all 0.25s;
}

.picto{
    position: relative;
    left: -40px;
    top:-25px;
    width: 100px;
    height: 100px;
}

#menu img:hover{
    position: relative;
    left: 5px;
    width: 90px;
    margin-top: -20px;
}




/*///////////////////////////
/////////////////////////////
/////////////////////////////          HOME
/////////////////////////////
///////////////////////////*/

#home {
    height: 800px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-image: url(x_Sources/Mwaenligne.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px -55px;
}

.home {
    position: absolute;
    left: 350px;
    text-align: right;
    top: 180px;
}

.home h2 {
    line-height: 5px;
    top: 100px;
    font-size: 52px;
    font-family: 'Indie Flower';
}

.home h3 {
    margin-top: -30px;
    font-size: 32px;
    margin-bottom: 50px;
}


.home img{
    display: table;
}


.contactimg img {
    margin-top: 15px;
    margin-left: -45px;
    position: relative;
    width: 25px;
    left:570px;
    top:-90px;
}

.home .contact h4{
    position: relative;
    color: 
    top:-10px;
}

.home .contact h4{
    color: #FAF1DE;
    font-weight: 100;
    font-size: 20px;
    line-height: 1px;
    top: -20px;
}


/*///////////////////////////
/////////////////////////////
/////////////////////////////          Bouton
/////////////////////////////
///////////////////////////*/

#dlcv {
    position: absolute;
    background-color: #E95E5E;
    color: #FAF1DE;
    width: 400px;
    height: 150px;
    text-align: center;
    left: 760px;
    top: 1205px;
    border-radius: 5px;
    transition: 0.5s;
}

#dlcv:hover {
    border-radius: 100px;
    background-color: #43363A;
    transition: 0.5s;
}

#dlcv h2 {
    font-family: 'Bowlby One SC', cursive;
    font-size: 40px;
    line-height: 0px;
    margin-top: 60px;
}

#dlcv h3 {
    font-family: 'Indie Flower';
    font-size: 24px;
    margin-top: -10px;
}


/*///////////////////////////
/////////////////////////////
/////////////////////////////          Présentation
/////////////////////////////
///////////////////////////*/

#pres {
    position: relative;
    left: 100px;
    margin-top: 60px;
    margin-left: 350px;
    width: 1000px;
    height: 380px;
}

#pres h2 {
    text-align: center;
    color: #E85E5E;
    font-size: 50px;
    font-family: 'Indie Flower';
    font-weight: 900;
}

#pres .text {
    margin-top: -20px;
    width: 1000px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 80px;
}




/*///////////////////////////
/////////////////////////////
/////////////////////////////          Compétences
/////////////////////////////
///////////////////////////*/

#comp {
    background-color: #F7E8CC;
    height: 1000px;
    padding-left: 390px;
}

#comp h2 {
    padding-top: 130px;
    margin-left: 380px;
    color: #E85E5E;
    font-size: 50px;
    font-family: 'Indie Flower';
    font-weight: 900;
}

#comp h3 {
    position: relative;
    margin-top: 32px;
    text-align: right;
    color: #5C4A51;
    font-size: 25px;
    line-height: 0px;
    display: inline-block;
    float: right;
}


#comp h4 {
    text-align: right;
    color: #5C4A51;
    font-size: 15px;
    float: right;
    margin-top: -28px;
}

#comp h4:nth-of-type(1) {
    padding-top: 50px;
}


.comp li {
    left: 350px;
    position: relative;
    margin-right: 5px;
    margin-top: 8px;
    float: left;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #8ABBAE;
    border-radius: 50%;
}



.categories {
    margin-bottom: 80px;
    float: left;
}


.separation {

    width: 380px;
    height: 500px;
    position: relative;
    display: inline-block;
}

.une-comp {
    width: 350px;
    height: 30px;
    display: inline-block
}




/*///////////////////////////
/////////////////////////////
/////////////////////////////          Expériences
/////////////////////////////
///////////////////////////*/

#exp {
    height: 1300px;
    padding-left: 350px;

}

#exp h2 {
    margin-top: 130px;
    margin-left: 420px;
    color: #E85E5E;
    font-size: 50px;
    font-family: 'Indie Flower';
    font-weight: 900;
}

#exp h3 {
    color: #43363A;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: -45px;
}

#exp h5 {
    color: #43363A;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: -7px;
}

#exp p {
    color: #5C4A51;
    font-size: 18px;
    font-weight: 100;
    font-style: italic;
}


#exp img {
    margin-top: -100px;
    top: 100px;
    position: relative;
}


.ligne {
    width: 10px;
    height: 120px;
    color: #E85E5E;
}

.separation1 {
    width: 500px;
    text-align: right;
    display: inline-block;
}

.separation2 {
    width: 500px;
    display: inline-block;
}

#subway {
    position: relative;
    margin-top: -200px;
}

#modulimage {
    position: relative;
    top: -232px;
}

#wlch {
    position: relative;
    top: -72px;
}

#ddb {
    position: relative;
    top: -177px;
}

#rds {
    position: relative;
    top: 11px;
}

#lmyr {
    position: relative;
    top: -102px;
}

#goubault {
    position: relative;
    top: 42px;
}




/*///////////////////////////
/////////////////////////////
/////////////////////////////          Contact
/////////////////////////////
///////////////////////////*/

#mpmoi {
    background-color: #F7E8CC;
    height: 1000px;
    padding-left: 350px;
}


.retlign {
    width: 400px;
}


#mpmoi h2 {
    position: relative;
    top: 150px;
    color: #E85E5E;
    font-size: 50px;
    font-family: 'Indie Flower';
    font-weight: 900;
}


#mpmoi p {
    position: relative;
    top: 130px;

}

#mpmoi img {
    width: 35px;
    display: block;
    position: relative;
    top: 150px;
    margin-top: 28px;
    margin-left: -55px;
}

#mpmoi h4 {

    position: relative;
    line-height: 35px;
    margin-top: -20px;
    top: 13px;
    color: #E95E5E;
    font-size: 30px;
    display: inline-block;
}


#formulaire {
    color: #5C4A51;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
    width: 500px;
    position: absolute;
    top: 4445px;
    left: 1000px;
}

#formulaire input {
    background-color: #FAF1DE;
    width: 600px;
    height: 40px;
    font-size: 20px;
    position: relative;
    margin-right: 10px;
}


#courriel input {
    width: 700px;
}



#formulaire textarea {
    background-color: #FAF1DE;
    width: 600px;
    height: 500px;
}



input,
button,
submit,
textarea {
    border: 1px #5C4A51;
    margin-bottom: 10px;
    padding-left: 10px;
    color: #5C4A51;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
}

button {
    background: none;
    position: absolute;
    color: #E95E5E;
    left: 145px;
    width: 300px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-color: #E95E5E;
    transition: 0.5s;
}

button:hover {
    background-color: #E95E5E;
    border-radius: 100px;
    color: #FAF1DE;
    transition: 0.5s;
}

/*///////////////////////////
/////////////////////////////
/////////////////////////////          Contact
/////////////////////////////
///////////////////////////*/

#footer {
    height: 70px;
    background-color: #E95E5E;
    text-align: center;

}


#footer p {
    color: #FAF1DE;
    font-size: 15px;
    position: relative;
    top: 25px;
}
