body {
    margin: 0px;
    padding: 0px;
    background-color: #FAF1DE;
}

h1 {
    color: #FAF1DE;
    font-family: 'Bowlby One SC', cursive;
    font-weight: 100;
    font-size: 100px;
    line-height: 40px;
    margin-top: 65px;
}

h2 {
    color: #FAF1DE;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
}

h3 {
    color: #FAF1DE;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 400;
}

h4 {
    font-family: 'Hind Siliguri', sans-serif;
    color: #E95E5E;
}

h5 {
    font-family: 'Hind Siliguri', sans-serif;
    color: #E95E5E;
}


p {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 23px;
    color: #5C4A51;
}

/*///////////////////////////
/////////////////////////////
/////////////////////////////          MENU 
/////////////////////////////
///////////////////////////*/

#menu {
    width: 61px;
    height: 455px;
    background-color: #43363A;
    opacity: 0.75;
    position: fixed;
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
    top: 20%;
    left: 15px;
    border-radius: 20px;
}

li {
    list-style-type: none;
}

.picto img {

    width: 45px;
    position: relative;
    left: 8px;
    top: 0px;
    padding: 0px;
    padding-top: 8px;
}

.picto {
    width: 60px;
    height: 70px;
    position: relative;
    margin-top: 10px;
    padding-top: 10px;
    top: -20px;
    left: -40px;

}

.picto:hover {
    background-color: #2B2527;
    -webkit-transition: width 0.5s, height 0.5s, background-color 0.5s, -webkit-transform 0.5s;
    transition: width 0.5s, height 0.5s, background-color 0.5s;

}


/*///////////////////////////
/////////////////////////////
/////////////////////////////          HOME
/////////////////////////////
///////////////////////////*/

#home {
    height: 1000px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-image: url(x_Sources/Mwaenligne.jpg);
    background-repeat: no-repeat;
}

.home {
    position: absolute;
    left: 430px;
    text-align: right;
    top: 250px;
}

.home h2 {
    line-height: 5px;
    top: 100px;
    font-size: 52px;
    font-family: 'Indie Flower';
}

.home h3 {
    margin-top: -30px;
    font-size: 32px;
}



/*///////////////////////////
/////////////////////////////
/////////////////////////////          Bouton
/////////////////////////////
///////////////////////////*/

#dlcv {
    position: absolute;
    background-color: #E95E5E;
    color: #FAF1DE;
    width: 400px;
    height: 150px;
    text-align: center;
    left: 700px;
    top: 885px;
    border-radius: 100px;
}

#dlcv:hover {
    background-color: #43363A;
    -webkit-transition: width 0.5s, height 0.5s, background-color 0.5s, -webkit-transform 0.5s;
    transition: width 0.5s, height 0.5s, background-color 0.5s;
}

#dlcv h2 {
    font-family: 'Bowlby One SC', cursive;
    font-size: 40px;
    line-height: 0px;
    margin-top: 60px;
}

#dlcv h3 {
    font-family: 'Indie Flower';
    font-size: 24px;
    margin-top: -10px;
}


/*///////////////////////////
/////////////////////////////
/////////////////////////////          Présentation
/////////////////////////////
///////////////////////////*/

#pres {
    margin-top: 170px;
    margin-left: 350px;
    height: 600px;
}

#pres h2 {
    color: #E85E5E;
    font-size: 50px;
    font-family: 'Indie Flower';
    font-weight: 900;
}

#pres .text {
    margin-top: -20px;
    width: 500px;
    font-size: 16px;
    margin-bottom: 80px;
}


#pres .contact {
    width: 400px;
    line-height: 20px;
}


#pres h4 {
    position: relative;
    font-weight: 600;
    font-size: 22px;
    font-style: italic;
    top: -102px;
}

.contactimg img {
    margin-top: 15px;
    margin-left: -45px;
    position: relative;
    width: 30px;
}



/*///////////////////////////
/////////////////////////////
/////////////////////////////          Compétences
/////////////////////////////
///////////////////////////*/

#comp {
    background-color: #F7E8CC;
    height: 1000px;
    padding-left: 350px;
}

#comp h2 {
    padding-top: 130px;
    margin-left: 390px;
    color: #E85E5E;
    font-size: 50px;
    font-family: 'Indie Flower';
    font-weight: 900;
}

#comp h3 {
    position: relative;
    margin-top: 32px;
    text-align: right;
    color: #5C4A51;
    font-size: 25px;
    line-height: 0px;
    display: inline-block;
    float: right;
}


#comp h4 {
    text-align: right;
    color: #5C4A51;
    font-size: 15px;
    float: right;
    margin-top: -28px;
}

#comp h4:nth-of-type(1) {
    padding-top: 50px;
}


.comp li {
    left: 350px;
    position: relative;
    margin-right: 5px;
    margin-top: 8px;
    float: left;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #8ABBAE;
    border-radius: 50%;
}



.categories {
    margin-bottom: 80px;
    float: left;
}


.separation {

    width: 380px;
    height: 500px;
    position: relative;
    display: inline-block;
}

.une-comp {
    width: 350px;
    height: 30px;
    display: inline-block
}




/*///////////////////////////
/////////////////////////////
/////////////////////////////          Expériences
/////////////////////////////
///////////////////////////*/

#exp {
    height: 1300px;
    padding-left: 350px;

}

#exp h2 {
    margin-top: 130px;
    margin-left: 420px;
    color: #E85E5E;
    font-size: 50px;
    font-family: 'Indie Flower';
    font-weight: 900;
}

#exp h3 {
    color: #43363A;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: -45px;
}

#exp h5 {
    color: #43363A;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: -7px;
}

#exp p {
    color: #5C4A51;
    font-size: 18px;
    font-weight: 100;
    font-style: italic;
}


#exp img {
    margin-top: -100px;
    top: 100px;
    position: relative;
}


.ligne {
    width: 10px;
    height: 120px;
    color: #E85E5E;
}

.separation1 {
    width: 500px;
    text-align: right;
    display: inline-block;
}

.separation2 {
    width: 500px;
    display: inline-block;
}

#subway {
    position: relative;
    margin-top: -200px;
}

#modulimage {
    position: relative;
    top: -232px;
}

#wlch {
    position: relative;
    top: -72px;
}

#ddb {
    position: relative;
    top: -177px;
}

#rds {
    position: relative;
    top: 11px;
}

#lmyr {
    position: relative;
    top: -102px;
}

#goubault {
    position: relative;
    top: 42px;
}




/*///////////////////////////
/////////////////////////////
/////////////////////////////          Contact
/////////////////////////////
///////////////////////////*/

#mpmoi {
    background-color: #F7E8CC;
    height: 1000px;
    padding-left: 350px;
}


.retlign {
    width: 400px;
}


#mpmoi h2 {
    position: relative;
    top: 150px;
    color: #E85E5E;
    font-size: 50px;
    font-family: 'Indie Flower';
    font-weight: 900;
}


#mpmoi p {
    position: relative;
    top: 130px;

}

#mpmoi img {
    width: 35px;
    display: block;
    position: relative;
    top: 150px;
    margin-top: 28px;
    margin-left: -55px;
}

#mpmoi h4 {

    position: relative;
    line-height: 35px;
    margin-top: -20px;
    top: 13px;
    color: #E95E5E;
    font-size: 30px;
    display: inline-block;
}


#formulaire {
    color: #5C4A51;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
    width: 900px;
    position: absolute;
    top: 4445px;
    left: 1000px;
}

#formulaire input {
    background-color: #FAF1DE;
    width: 600px;
    height: 40px;
    font-size: 20px;
    position: relative;
    margin-right: 10px;
}


#courriel input {
    width: 700px;
}



#formulaire textarea {
    background-color: #FAF1DE;
    width: 600px;
    height: 500px;
}



input,
button,
submit,
textarea {
    border: 1px #5C4A51;
    margin-bottom: 10px;
    padding-left: 10px;
    color: #5C4A51;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
}

button {
    background: none;
    position: absolute;
    background-color: #E95E5E;
    color: #FAF1DE;
    width: 200px;
    height: 40px;
    text-align: center;
    border-radius: 100px;
}

button:hover{
    background-color: #5C4A51;
    background-color: #43363A;
    -webkit-transition: width 0.5s, height 0.5s, background-color 0.5s, -webkit-transform 0.5s;
    transition: width 0.5s, height 0.5s, background-color 0.5s;
}

/*///////////////////////////
/////////////////////////////
/////////////////////////////          Contact
/////////////////////////////
///////////////////////////*/


#footer{
    height: 70px;
    background-color: #E95E5E;
    text-align: center;

}


#footer p{
    color: #FAF1DE;
    font-size: 15px;
    position: relative;
    top:25px;
}